In [ ]:
#importing pandas

In [4]:
import pandas as pd

In [6]:
#data structures in pandas

In [14]:
#series(1) >> A pandas Series is a one-dimensional labeled array that can hold data of any type

In [19]:
data = [1, 2, 3, 4]
series = pd.Series(data)  # 'Series' should be capitalized
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
data = [1,2,3,4]
index = ['a','b','c','d'] # custom index
series = pd.Series(data,index = index) 
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [25]:
# dataframe(2) >>A pandas Series is a one-dimensional labeled array that can hold data of any type

In [29]:
data = {'name':['alice','bob','charlie'],'age':[25,30,35]}
df = pd.DataFrame(data)
print(df)

      name  age
0    alice   25
1      bob   30
2  charlie   35

In [31]:
#importing the excel file (these excel file is used to importing to the pandas not for futher experiment, the other functions are doing only by given example in chatgpt)

In [67]:
df= pd.read_excel("C:\\Users\\jsuri\\Downloads\\kulturehire\\Kulture Hire submission.xlsx")

In [73]:
df

,Date & Time,country,Pin Code,Gender,Influencing factors of your career,pursuing Higher education,3+ Years with One Employer,Work for Company Without Clear Public Mission,Work for Company with Misaligned Mission,Work for Company Without Social Impact,...,Willing to Work Hours per Day,Frequency of Full Week Breaks for Work-Life Balance,Factors for Work Happiness and Productivity,Work Frustrations,,2,3,4,5,6
0,2022-12-16 11:46:05.965,India,273005,M,People who have changed the world for better,"Yes, I will earn and do that","This will be hard to do, but if it is the righ...",No,Will NOT work for them,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-12-16 11:46:05.965,India,273005,M,People who have changed the world for better,"Yes, I will earn and do that","This will be hard to do, but if it is the righ...",No,Will NOT work for them,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-12-16 11:46:05.965,India,273005,M,People who have changed the world for better,"Yes, I will earn and do that","This will be hard to do, but if it is the righ...",No,Will NOT work for them,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-12-16 11:46:05.965,India,273005,M,People who have changed the world for better,"Yes, I will earn and do that","This will be hard to do, but if it is the righ...",No,Will NOT work for them,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-12-16 11:46:05.965,India,273005,M,People who have changed the world for better,"Yes, I will earn and do that","This will be hard to do, but if it is the righ...",No,Will NOT work for them,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64927,2024-08-21 22:44:11.980,India,700149,M,Influencers who had successful careers,"Yes, I will earn and do that","This will be hard to do, but if it is the righ...",No,Will NOT work for them,9,...,8 hours,Once in 3 months,"Non Political Environment, Supportive Manager,...",Political Environment,NaN,NaN,NaN,NaN,NaN,NaN
64928,2024-08-21 22:44:11.980,India,700149,M,Influencers who had successful careers,"Yes, I will earn and do that","This will be hard to do, but if it is the righ...",No,Will NOT work for them,9,...,8 hours,Once in 3 months,"Non Political Environment, Supportive Manager,...",Political Environment,NaN,NaN,NaN,NaN,NaN,NaN
64929,2024-08-21 22:44:11.980,India,700149,M,Influencers who had successful careers,"Yes, I will earn and do that","This will be hard to do, but if it is the righ...",No,Will NOT work for them,9,...,8 hours,Once in 3 months,"Non Political Environment, Supportive Manager,...",Political Environment,NaN,NaN,NaN,NaN,NaN,NaN
64930,2024-08-21 22:44:11.980,India,700149,M,Influencers who had successful careers,"Yes, I will earn and do that","This will be hard to do, but if it is the righ...",No,Will NOT work for them,9,...,8 hours,Once in 3 months,"Non Political Environment, Supportive Manager,...",Political Environment,NaN,NaN,NaN,NaN,NaN,NaN
64931,2024-08-21 22:44:11.980,India,700149,M,Influencers who had successful careers,"Yes, I will earn and do that","This will be hard to do, but if it is the righ...",No,Will NOT work for them,9,...,8 hours,Once in 3 months,"Non Political Environment, Supportive Manager,...",Political Environment,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#exploring data

In [80]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64932 entries, 0 to 64931
Data columns (total 35 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Date & Time                                          64932 non-null  datetime64[ns]
 1   country                                              64932 non-null  object
 2    Pin Code                                            64914 non-null  object
 3   Gender                                               64932 non-null  object
 4   Influencing factors of your career                   64932 non-null  object
 5   pursuing Higher education                            64932 non-null  object
 6   3+ Years with One Employer                           64932 non-null  object
 7   Work for Company Without Clear Public Mission        64932 non-null  object
 8   Work for Company with Misaligned Mission             64932 non-null  object
 9   Work for Company Without Social Impact               64932 non-null  int64
 10  Preferred Work Environment                           64932 non-null  object
 11  Preferred Employers                                  64932 non-null  object
 12  Preferred Learning Environment                       64932 non-null  object
 13  Closest Career to Your Aspirations                   64932 non-null  object
 14  Ideal Manager for You                                64932 non-null  object
 15  Preferred Work Setup                                 64932 non-null  object
 16  Work for Company with Recent Layoffs                 61788 non-null  object
 17  Likelihood of Staying 7+ Years with One Employer     61692 non-null  object
 18  Email address                                        36672 non-null  object
 19  Minimum Expected Monthly Salary (First 3 Years)      64932 non-null  object
 20  Minimum Expected Monthly Salary (5 Years Ahead)      64932 non-null  object
 21  Work for Company with No-Remote Policy               8640 non-null   float64
 22  Minimum Starting Salary Expectation                  8640 non-null   object
 23  Preferred Type of Company                            8640 non-null   object
 24  Work for Manager with Abusive History                8640 non-null   object
 25  Willing to Work Hours per Day                        8640 non-null   object
 26  Frequency of Full Week Breaks for Work-Life Balance  8640 non-null   object
 27  Factors for Work Happiness and Productivity          8640 non-null   object
 28  Work Frustrations                                    8640 non-null   object
 29                                                       0 non-null      float64
 30   2                                                   0 non-null      float64
 31   3                                                   0 non-null      float64
 32   4                                                   0 non-null      float64
 33   5                                                   0 non-null      float64
 34   6                                                   0 non-null      float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(26)
memory usage: 17.3+ MB
None

In [ ]:
#cleaning data

In [85]:
df.dropna(inplace=True)  # Remove rows with missing value

Empty DataFrame
Columns: [Date & Time, country,  Pin Code, Gender, Influencing factors of your career , pursuing Higher education, 3+ Years with One Employer, Work for Company Without Clear Public Mission, Work for Company with Misaligned Mission, Work for Company Without Social Impact, Preferred Work Environment, Preferred Employers, Preferred Learning Environment, Closest Career to Your Aspirations, Ideal Manager for You, Preferred Work Setup, Work for Company with Recent Layoffs, Likelihood of Staying 7+ Years with One Employer, Email address, Minimum Expected Monthly Salary (First 3 Years), Minimum Expected Monthly Salary (5 Years Ahead), Work for Company with No-Remote Policy, Minimum Starting Salary Expectation, Preferred Type of Company, Work for Manager with Abusive History, Willing to Work Hours per Day, Frequency of Full Week Breaks for Work-Life Balance, Factors for Work Happiness and Productivity, Work Frustrations,  ,  2,  3,  4,  5,  6]
Index: []

[0 rows x 35 columns]

In [91]:
 df.fillna(0, inplace=True)  # Fill missing values with 0

In [89]:
df.drop_duplicates(inplace=True)  # Remove duplicates

Empty DataFrame
Columns: [Date & Time, country,  Pin Code, Gender, Influencing factors of your career , pursuing Higher education, 3+ Years with One Employer, Work for Company Without Clear Public Mission, Work for Company with Misaligned Mission, Work for Company Without Social Impact, Preferred Work Environment, Preferred Employers, Preferred Learning Environment, Closest Career to Your Aspirations, Ideal Manager for You, Preferred Work Setup, Work for Company with Recent Layoffs, Likelihood of Staying 7+ Years with One Employer, Email address, Minimum Expected Monthly Salary (First 3 Years), Minimum Expected Monthly Salary (5 Years Ahead), Work for Company with No-Remote Policy, Minimum Starting Salary Expectation, Preferred Type of Company, Work for Manager with Abusive History, Willing to Work Hours per Day, Frequency of Full Week Breaks for Work-Life Balance, Factors for Work Happiness and Productivity, Work Frustrations,  ,  2,  3,  4,  5,  6]
Index: []

[0 rows x 35 columns]

In [93]:
#data filtering

In [ ]:
filtered_df=df[df['age']>30]

In [102]:
# adding row

In [ ]:
df['salary']=[50000,60000,70000]

In [ ]:
# droping the column

In [ ]:
df.drop('Salary', axis=1, inplace=True)

In [ ]:
# droping the row

In [ ]:
df.drop('Salary', axis=0, inplace=True)

In [ ]:
# droping the particular row (if suppose want to delete the 10th row of the dataframe)

In [ ]:
df.drop(index=9, inplace=True)

In [ ]:
#merging and joining

In [ ]:
df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df2 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Salary': [50000, 60000]})

merged_df = pd.merge(df1, df2, on='Name')  # Merge based on the 'Name' column

In [ ]:
#grouping

In [ ]:
df.groupby('Age').mean()  # Group by a column and calculate the mean